
$Yellow: hsl(47, 88%, 63%);
$White: hsl(0, 0%, 100%);
$Grey: hsl(0, 0%, 50%);
$Black: hsl(0, 0%, 7%);

$font_size: 16px;
$font_size_larger: 24px;
$font_weight: 500;
$font_weight_bold: 800;
$font_family: "Figtree", sans-serif;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: $Yellow;
    color: $Black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: $font_family;
}
h2{
    font-size: $font_size_larger;
    font-weight: $font_weight_bold;
    color: $Yellow;
    margin-bottom: 1rem;
}
p{
    font-size: $font_size;
   font-weight: $font_weight;
   color: $Grey;
    
}
.para{
    color: $Black;
    margin-bottom: 1rem;
    font-weight: $font_weight;

}

.main_container{
    border-radius: 10px;
    max-width: 384px;
     background-color: $White;
     display: flex;
     flex-direction: column;
     row-gap: 1rem;
     padding: 2rem;
     border: 1px solid $Black;
     box-shadow: 10px 10px 0px 0px $Black;
     margin-bottom: 1rem;
}
.image_container{
    img{
        border-radius: 10px;
        width: 100%;
    }
}
.description{
    // display: flex;
    // flex-direction: column;
    gap: 1rem;
}
.button{
    background-color: $Yellow;
    color: $Black;
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 1rem;
    border-radius: 5px;
}
.user{
    display: flex;
    align-items: center;
    gap: 1rem;
    span{
        font-weight: $font_weight_bold;
    }
}
.user_image{
    width: 30px;
    height: 30px;
}